
#
# UniRTOS system platform
#
CONFIG_QOSA_VFS_FILESYSTEM_FUNC=y
CONFIG_QOSA_LINK_LIST_FUNC=y
CONFIG_QOSA_BUFFER_BLOCK_FUNC=y
CONFIG_QOSA_SSL_FUNC=y
CONFIG_QOSA_SOCKET_DNS_FUNC=y
CONFIG_QOSA_EVENT_NOTIFY_FUNC=y
CONFIG_QOSA_LOG_DEBUG_FUNC=y
CONFIG_QOSA_DATACALL_FUNC=y
CONFIG_QOSA_MODEM_DEV_FUNC=y
CONFIG_QOSA_NW_FUNC=y
CONFIG_QOSA_IMS_FUNC=n
CONFIG_QOSA_USBNET_FUNC=y
CONFIG_QOSA_PPP_FUNC=y
CONFIG_QOSA_SIM_FUNC=y
CONFIG_QOSA_SIM_HAL_SLOT_NUM=1
CONFIG_QOSA_SMS_FUNC=y
CONFIG_QOSA_LPM_FUNC=y
CONFIG_QOSA_MBEDTLS_LIBRARY_FUNC=y
# CONFIG_QOSA_MBEDTLS3_X_X_LIBRARY_FUNC is not set
# CONFIG_QOSA_MBEDTLS2_X_X_LIBRARY_FUNC is not set
# CONFIG_QOSA_RT_DEVICE_FUNC is not set
# CONFIG_QOSA_RT_DEVICE_SERIAL_FUNC is not set
CONFIG_QOSA_WATERMARK_FUNC=y
# CONFIG_QOSA_LINK_SYSTEM_LIBRARIES_FUNC is not set
# CONFIG_QOSA_UDP_UART_FUNC is not set
CONFIG_QOSA_WIFISCAN_FUNC=y
CONFIG_QOSA_FTM_FUNC=y
CONFIG_QOSA_AT_PARSER_FUNC=y
CONFIG_QOSA_CAMERA_FUNC=y
CONFIG_QOSA_LCD_FUNC=y
CONFIG_QOSA_IIC_FUNC=y
CONFIG_QOSA_SPI_FUNC=y
CONFIG_QOSA_LED_FUNC=y
CONFIG_QOSA_VSIM_ADAPT_FUNC=y
# CONFIG_QOSA_LINUX_PLATFORM_FUNC is not set
# CONFIG_QOSA_RDA8910_PLATFORM_FUNC is not set
# CONFIG_QOSA_RDA8910_R06_PLATFORM_FUNC is not set
# CONFIG_QOSA_QCX216_PLATFORM_FUNC is not set
# CONFIG_QOSA_QCX217_PLATFORM_FUNC is not set
CONFIG_QOSA_EIGEN718_PLATFORM_FUNC=y
CONFIG_QOSA_TTS_FUNC=y
CONFIG_QOSA_CODE_DECODER_FUNC=y
CONFIG_QOSA_UNIRTOS_CODE_DECODER_FUNC=n
CONFIG_QOSA_QINGYA_CODE_DECODER_FUNC=y
CONFIG_QOSA_VIRT_AT_FUNC=y
CONFIG_QOSA_LICENSE_FUNC=y
CONFIG_QOSA_FOTA_SIGN_FUNC=y
CONFIG_QOSA_SECBOOT_FUNC=y
CONFIG_QOSA_DTR_FUNC=y
CONFIG_QOSA_CLAT_FUNC=y
CONFIG_QOSA_CALL_CONTROL_FUNC=y
CONFIG_QOSA_ABNORMAL_BASESTATION_FUNC=y

#
# UniRTOS system platform func config
#
CONFIG_QOSA_HAVE_MALLOC=y
CONFIG_QOSA_HAVE_STRSTR=y
CONFIG_QOSA_HAVE_STRCASECMP=y
CONFIG_QOSA_HAVE_STRNCPY=y
CONFIG_QOSA_HAVE_STRCPY=y
CONFIG_QOSA_HAVE_STRNCMP=y
CONFIG_QOSA_HAVE_STRCMP=y
CONFIG_QOSA_HAVE_STRLEN=y
CONFIG_QOSA_HAVE_STRNLEN=y
CONFIG_QOSA_HAVE_STRDUP=y
CONFIG_QOSA_HAVE_VSNPRINTF=y
CONFIG_QOSA_HAVE_SNPRINTF=y
CONFIG_QOSA_HAVE_VSPRINTF=y
CONFIG_QOSA_HAVE_SPRINTF=y
CONFIG_QOSA_HAVE_STRNCASECMP=y
CONFIG_QOSA_HAVE_STRCHR=y
CONFIG_QOSA_HAVE_STRTOUL=y
CONFIG_QOSA_HAVE_STRTOL=y
CONFIG_QOSA_HAVE_STRTOULL=y
CONFIG_QOSA_HAVE_SSCANF=y
CONFIG_QOSA_HAVE_STRRCHR=y
CONFIG_QOSA_HAVE_STRTOLL=y
CONFIG_QOSA_HAVE_STRTOD=y
CONFIG_QOSA_HAVE_STRCAT=y
CONFIG_QOSA_HAVE_STRNCAT=y
CONFIG_QOSA_HAVE_STRTOK=y
CONFIG_QOSA_HAVE_STRPBRK=y
CONFIG_QOSA_HAVE_STRSPN=y
CONFIG_QOSA_HAVE_STRCSPN=y
CONFIG_QOSA_HAVE_ATOI=y
CONFIG_QOSA_HAVE_ATOL=y
CONFIG_QOSA_HAVE_ATOF=y
CONFIG_QOSA_HAVE_SYSTEM=y
CONFIG_QOSA_HAVE_RAND=y
CONFIG_QOSA_AUDIO_DRIVER=y
# CONFIG_QOSA_HAVE_STRNSTR is not set
# CONFIG_QOSA_HAVE_SYS_TPYE64 is not set
CONFIG_QOSA_PLATFORM_SUPPORT_C99=y
CONFIG_QOSA_PRIORITY_GRANULARITY_NUM=-1
CONFIG_QOSA_PRIORITY_REALTIME_CFG=30
CONFIG_QOSA_PRIORITY_HIGH_CFG=25
CONFIG_QOSA_PRIORITY_ABOVE_NORMAL_CFG=16
CONFIG_QOSA_PRIORITY_NORMAL_CFG=12
CONFIG_QOSA_PRIORITY_BELOW_NORMAL_CFG=8
CONFIG_QOSA_PRIORITY_LOW_CFG=4
CONFIG_QOSA_PRIORITY_IDLE_CFG=1
CONFIG_QOSA_DEVICE_NAME_MAX=8
CONFIG_QOSA_ALIGN_SIZE=4
CONFIG_QOSA_EVENT_NOTIFY_REGISTER_MAX_EVENT=17
CONFIG_QOSA_FILE_MAX_NAME_LEN=63
CONFIG_QOSA_FILE_MAX_FOLDER_LEN=63
CONFIG_QOSA_FILE_PREFIX_LEN=10
CONFIG_QOSA_FOTA_UPDATE_URC_MAX=100
CONFIG_QOSA_NVM_JSON_NODE_MAX_LEN=40
CONFIG_QOSA_MEMORYI_HEAP_HEAD_SIZE=64
CONFIG_QOSA_MEMORY_BUF_ITEM_SIZE=256
CONFIG_QOSA_MEMORY_BUF_ITEM_CNT=96
CONFIG_QOSA_PDP_USERPWD_PROFILE_SIZE=129
CONFIG_QOSA_INET_ADDRSTRLEN=16
CONFIG_QOSA_INET6_ADDRSTRLEN=48
CONFIG_QOSA_HOST_URL_MAX_LEN=256
CONFIG_QOSA_MBEDTLS_MEMORY_OPTIMIZTAION_SUPPORT=y
CONFIG_QOSA_FILE_CONFIG_RESERVE_SIZE=10240
CONFIG_QOSA_SYS_TICK_PER_SECOND=1000
CONFIG_QOSA_CENTER_TASK_STACK_SIZE=5120
CONFIG_QOSA_SYS_DNS_TASK_SIZE=2048
CONFIG_QOSA_SYS_DESTROY_SIZE=2048
CONFIG_QOSA_SYS_LPM_TASK_SIZE=4096
CONFIG_QOSA_SYS_LPM_RFR_TASK_SIZE=2048
CONFIG_QOSA_SYS_LPM_PLAT_TASK_SIZE=1024
CONFIG_QOSA_URC_SEND_MAX_LEN=10240
CONFIG_QOSA_VFS_SYS_STAT_H="<sys/stat.h>"
CONFIG_QOSA_VFS_SYS_FCNTL_H="<vfs_fcntl.h>"
CONFIG_QOSA_VFS_O_RDONLY="O_RDONLY"
CONFIG_QOSA_VFS_O_WRONLY="O_WRONLY"
CONFIG_QOSA_VFS_O_RDWR="O_RDWR"
CONFIG_QOSA_VFS_O_CREAT="O_CREAT"
CONFIG_QOSA_VFS_O_EXCL="O_EXCL"
CONFIG_QOSA_VFS_O_NOCTTY="O_NOCTTY"
CONFIG_QOSA_VFS_O_TRUNC="O_TRUNC"
CONFIG_QOSA_VFS_O_APPEND="O_APPEND"
CONFIG_QOSA_VFS_O_NONBLOCK="O_NONBLOCK"
CONFIG_QOSA_VFS_O_NDELAY="O_NDELAY"
CONFIG_QOSA_VFS_O_SYNC="O_SYNC"
CONFIG_QOSA_VFS_O_NOFOLLOW="O_NOFOLLOW"
CONFIG_QOSA_VFS_O_DIRECTORY="O_DIRECTORY"
CONFIG_QOSA_VFS_S_IRWXU="S_IRWXU"
CONFIG_QOSA_VFS_S_IRUSR="S_IRUSR"
CONFIG_QOSA_VFS_S_IWUSR="S_IWUSR"
CONFIG_QOSA_VFS_S_IXUSR="S_IXUSR"
CONFIG_QOSA_VFS_S_IRWXG="S_IRWXG"
CONFIG_QOSA_VFS_S_IRGRP="S_IRGRP"
CONFIG_QOSA_VFS_S_IWGRP="S_IWGRP"
CONFIG_QOSA_VFS_S_IXGRP="S_IXGRP"
CONFIG_QOSA_VFS_S_IRWXO="S_IRWXO"
CONFIG_QOSA_VFS_S_IROTH="S_IROTH"
CONFIG_QOSA_VFS_S_IWOTH="S_IWOTH"
CONFIG_QOSA_VFS_S_IXOTH="S_IXOTH"
CONFIG_QOSA_VFS_S_IFDIR="S_IFDIR"
CONFIG_QOSA_VFS_S_IFREG="S_IFREG"
CONFIG_QOSA_VFS_SEEK_SET="SEEK_SET"
CONFIG_QOSA_VFS_SEEK_CUR="SEEK_CUR"
CONFIG_QOSA_VFS_SEEK_END="SEEK_END"
CONFIG_QOSA_WATERMARK_ITEM_MERGE=y
CONFIG_QOSA_LPM_PSM_SUPPORT_FUNC=y
# CONFIG_QOSA_LPM_SLEEP_LOG_FUNC is not set
# end of UniRTOS system platform func config
# end of UniRTOS system platform
