
#
# UniRTOS components
#
CONFIG_QCM_FILE_API_FUNC=y
CONFIG_QCM_SOCKET_ADP_FUNC=y
CONFIG_QCM_VTLS_FUNC=y
CONFIG_QCM_QURL_FUNC=y
CONFIG_QCM_QURL_HTTP_FUNC=y
CONFIG_QCM_QURL_FTP_FUNC=y
CONFIG_QCM_QURL_SMTP_FUNC=y
CONFIG_QCM_UTILS_BASE64_FUNC=y
CONFIG_QCM_UTILS_TLV_FUNC=y
CONFIG_QCM_UTILS_UTF8_FUNC=y
CONFIG_QCM_UTILS_UTILS_FUNC=y
CONFIG_QCM_COAP_FUNC=y
CONFIG_QCM_COAP_API_FUNC=y
CONFIG_QCM_LWM2M_FUNC=y
CONFIG_QCM_LWM2M_FOTA_FUNC=y
CONFIG_QCM_LWM2M_DTLS_FUNC=y
# CONFIG_QCM_MINI_HTTP_FUNC is not set
# CONFIG_QCM_LBS_FUNC is not set
# CONFIG_QCM_MMS_FUNC is not set
CONFIG_QCM_MQTT_FUNC=y
CONFIG_QCM_MQTT5_FUNC=y
CONFIG_QCM_NTP_FUNC=y
# CONFIG_QCM_SBFOTA_FUNC is not set
# CONFIG_QCM_WEBSOCKET_FUNC is not set
CONFIG_QCM_PING_FUNC=y
CONFIG_QCM_FILE_SFS_FUNC=y
CONFIG_QCM_URC_FUNC=y
CONFIG_QCM_SPI_NOR_FUNC=y
# CONFIG_QCM_DMHTTP_FUNC is not set
CONFIG_QCM_AUDIO_STREAM_FUNC=y
CONFIG_QCM_AUDIO_MP3_FUNC=y
CONFIG_QCM_AUDIO_AMR_FUNC=y
# CONFIG_QCM_ESIM_FUNC is not set
# CONFIG_QCM_UTILS_XMODEM_FUNC is not set
# CONFIG_QCM_GNSS_FUNC is not set

#
# UniRTOS components func config
#
CONFIG_QCM_MONITOR_TASK_STACK_SIZE=1024
CONFIG_QCM_LWM2M_TASK_STACK_SIZE=10240
CONFIG_QCM_MMS_TASK_STACK_SIZE=4096
CONFIG_QCM_MQTT_TASK_STACK_SIZE=4096
CONFIG_QCM_NTP_TASK_SIZE=3072
CONFIG_QCM_WEB_CLIENT_TASK_SIZE=8192
CONFIG_QCM_PING_TASK_STACK_SIZE=3072
CONFIG_QCM_LBS_TASK_SIZE=4096
CONFIG_QCM_SBFOTA_TASK_STACK_SIZE=4096
CONFIG_QCM_MQTT_USE_NET_DOWN_EVENT=y
CONFIG_QCM_LWM2M_COPA_FOTA_STACK_SIZE=6144
CONFIG_QCM_URC_RI_TASK_STACK_SIZE=4096
CONFIG_QCM_CONN_DEAL_CACHE_SIZE=2048
# end of UniRTOS components func config
# end of UniRTOS components

#
# UniRTOS examples
#
CONFIG_QAPP_UNIRTOS_STD_FUNC=y
# CONFIG_QAPP_LBS_DEMO_FUNC is not set
# CONFIG_QAPP_UART_DEMO_FUNC is not set
# CONFIG_QAPP_ADC_DEMO_FUNC is not set
# CONFIG_QAPP_IIC_DEMO_FUNC is not set
# CONFIG_QAPP_NETWORK_DEMO_FUNC is not set
# CONFIG_QAPP_DATACALL_DEMO_FUNC is not set
# CONFIG_QAPP_WIFISCAN_DEMO_FUNC is not set
# CONFIG_QAPP_RTC_DEMO_FUNC is not set
# CONFIG_QAPP_LPM_DEMO_FUNC is not set
# CONFIG_QAPP_GPIO_DEMO_FUNC is not set
# CONFIG_QAPP_PWM_DEMO_FUNC is not set
# CONFIG_QAPP_SPI_DEMO_FUNC is not set
# CONFIG_QAPP_CAMERA_DEMO_FUNC is not set
# CONFIG_QAPP_USB_DEMO_FUNC is not set
# CONFIG_QAPP_BUILTIN_FLASH_DEMO_FUNC is not set
# CONFIG_QAPP_SPI_NOR_DEMO_FUNC is not set
# CONFIG_QAPP_EASY_FOTA_DEMO_FUNC is not set
# CONFIG_QAPP_EASY_FTP_DEMO_FUNC is not set
# CONFIG_QAPP_EASY_HTTP_DEMO_FUNC is not set
# CONFIG_QAPP_EASY_SMS_DEMO_FUNC is not set
# CONFIG_QAPP_JD_DEMO_FUNC is not set
# CONFIG_QAPP_MQTT_ALI_DEMO_FUNC is not set

#
# UniRTOS AT Standard
#
CONFIG_QAPP_UNIRTOS_SECBOOT_AT_FUNC=y
# CONFIG_QAPP_UNIRTOS_LICENSE_AT_FUNC is not set
# CONFIG_QAPP_UNIRTOS_CAMERA_AT_FUNC is not set
CONFIG_QAPP_UNIRTOS_FILE_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_TCPIP_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_SSL_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_SSL_AT_PSK_FUNC=y
CONFIG_QAPP_UNIRTOS_HTTP_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_FTP_AT_FUNC=y
# CONFIG_QAPP_UNIRTOS_SMTP_AT_FUNC is not set
# CONFIG_QAPP_UNIRTOS_MMS_AT_FUNC  is not set
# CONFIG_QAPP_UNIRTOS_UNIFY_AT_FUNC is not set
CONFIG_QAPP_UNIRTOS_MQTT_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_PING_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_NTP_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_LED_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_DATACALL_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_PDP_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_QINDCFG_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_FOTA_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_PPP_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_PDP_KALIVE_FUNC=y
# CONFIG_QAPP_UNIRTOS_LBS_AT_FUNC is not set
CONFIG_QAPP_UNIRTOS_UART_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_AT_IPR_CMD=y
CONFIG_QAPP_UNIRTOS_AT_ICF_CMD=y
CONFIG_QAPP_UNIRTOS_AT_IFC_CMD=y
CONFIG_QAPP_UNIRTOS_AT_CBAUD_CMD=y
CONFIG_QAPP_UNIRTOS_AT_CSUB_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QINF_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QGMR_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QPROD_CMD=y
CONFIG_QAPP_UNIRTOS_AT_PROD_CMD=y
CONFIG_QAPP_UNIRTOS_AT_EGMR_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QSVN_CMD=y
# CONFIG_QAPP_UNIRTOS_AT_HVERSION_CMD is not set
# CONFIG_QAPP_UNIRTOS_AT_MODULE_CMD is not set
CONFIG_QAPP_UNIRTOS_AT_QPOWD_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QADC_CMD=y
CONFIG_QAPP_UNIRTOS_AT_CBC_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QWSETMAC_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QTEMP_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QRESET_CMD=y
CONFIG_QAPP_UNIRTOS_AT_ATO_CMD=y
CONFIG_QAPP_UNIRTOS_AT_CFUN_CMD=y
CONFIG_QAPP_UNIRTOS_AT_CCLK_CMD=y
CONFIG_QAPP_UNIRTOS_AT_RETSET_CMD=y
CONFIG_QAPP_UNIRTOS_AT_CVERSION_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QVERINFO_CMD=y
# CONFIG_QAPP_UNIRTOS_AT_QAPPVERSION_CMD is not set
CONFIG_QHTTPCFG_CUSTOM_HEADER_EMPTY_SHOW=y
CONFIG_QAPP_UNIRTOS_AT_STYLE_REG_FUNC=y
CONFIG_QAPP_UNIRTOS_HTTP_FOTA_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_FTP_FOTA_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_SIM_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_SMS_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_NW_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_USBNET_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_MODEM_AT_BYPASS_FUNC=y
CONFIG_QAPP_UNIRTOS_AT_GMI_CMD=y
CONFIG_QAPP_UNIRTOS_AT_GMM_CMD=y
CONFIG_QAPP_UNIRTOS_AT_GMR_CMD=y
CONFIG_QAPP_UNIRTOS_AT_GSN_CMD=y
CONFIG_QAPP_UNIRTOS_DEV_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_AT_GPIO_CMD=y
CONFIG_QAPP_UNIRTOS_AT_LPM_FUNC=y
CONFIG_QAPP_UNIRTOS_AT_URC_FUNC=y
CONFIG_QAPP_UNIRTOS_FTM_AT_FUNC=y
# CONFIG_QAPP_UNIRTOS_WEBSOCKET_AT_FUNC is not set
# CONFIG_QAPP_UNIRTOS_DMHTTP_AT_FUNC is not set
# CONFIG_QAPP_UNIRTOS_AT_QCFG_AIRPLANECONTROL_CMD is not set
CONFIG_QAPP_UNIRTOS_AT_QCFG_NWSCANSEQ_CMD=y
CONFIG_QAPP_UNIRTOS_LWM2M_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_ONENET_LWM2M_AT_FUN=y
CONFIG_QAPP_UNIRTOS_AEP_LWM2M_AT_FUN=y
# CONFIG_QAPP_UNIRTOS_COAP_AT_FUNC is not set
CONFIG_QAPP_UNIRTOS_QCEER_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_CEER_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_WIFISCAN_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_JD_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_AT_QCFG_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QDBGCFG_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QDBGCFG_DUMPCFG_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QDBGCFG_IPTRACE_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QDBGCFG_TRACECFG_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QDBGCFG_MEMORY_SUB_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QIND_DATASTATUS_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QIND_MODE_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QAUDIO_CMD=y
# CONFIG_QAPP_UNIRTOS_AT_QESIM_CMD is not set
CONFIG_QOSA_EIGEN_PLATFORM_FUNC=y
# CONFIG_QAPP_UNIRTOS_QBAND_AT_FUNC is not set
CONFIG_QAPP_UNIRTOS_AT_FLASH_TEST_CMD=y
CONFIG_QAPP_UNIRTOS_FACTORY_AT_FUNC=y
# CONFIG_QAPP_UNIRTOS_GNSS_AT_FUNC is not set
CONFIG_QAPP_UNIRTOS_CEMODE_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_CGEREP_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_AT_CIND_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QFMD5_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QCFG_DHCP_CFG_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QREDDAAVN_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QCFG_PDPREACT_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QCFG_SIMWPROTECT_CMD=y
CONFIG_QAPP_UNIRTOS_AT_QCFG_SERVICE_DOMAIN_CMD=y
CONFIG_QAPP_UNIRTOS_IMS_AT_FUNC=n
CONFIG_QAPP_UNIRTOS_CLAT_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_AT_CALL_CONTROL_CMD=y
CONFIG_QAPP_UNIRTOS_ABNORMAL_BASESTATION_AT_FUNC=y

#
# UniRTOS AT Standard FUNC option config
#
CONFIG_UNIRTOS_PDP_TASK_STACK_SIZE=2048
CONFIG_UNIRTOS_SMTP_AT_PUT_STACK_SIZE=8192
CONFIG_UNIRTOS_SMTP_BODY_STACK_SIZE=8192
CONFIG_UNIRTOS_NETWORK_PDP_KALIVE_STACK_SIZE=1024
CONFIG_UNIRTOS_CUIOT_MQTT_STACK_SIZE=4096
CONFIG_UNIRTOS_UNIOT_MQTT_STACK_SIZE=4096
CONFIG_UNIRTOS_UNIFY_MQTT_STACK_SIZE=4096
CONFIG_UNIRTOS_FOTADL_TASK_STACK_SIZE=5120
CONFIG_UNIRTOS_FILE_TASK_STACK_SIZE=4096
CONFIG_UNIRTOS_CAMERA_TASK_STACK_SIZE=8192
CONFIG_UNIRTOS_TCPIP_TASK_STACK_SIZE=8192
CONFIG_UNIRTOS_TCPIP_NB_TASK_STACK_SIZE=5120
CONFIG_UNIRTOS_FTP_TASK_STACK_SIZE=4096
CONFIG_UNIRTOS_HTTP_TASK_STACK_SIZE=4096
CONFIG_UNIRTOS_HTTP_READ_TASK_STACK_SIZE=3192
CONFIG_UNIRTOS_TCPIP_SUPORT_SHOW_REAL_LOCAL_PORT=y
# CONFIG_UNIRTOS_NTP_SHOW_RETRY_CNT_AND_TIME is not set
CONFIG_UNIRTOS_TCPIP_RECV_IGNORE_SHOW_TYPE=y
CONFIG_UNIRTOS_TCPIP_WAKEUP_SHOW_TYPE=y
# CONFIG_UNIRTOS_QPING_EVERY_TIMEOUT_REPORT_URC is not set
# CONFIG_UNIRTOS_RAW_SOCKET_ICMP_LOSE_IP_HEAD is not set
# Currently ,RTOS needs to be turned off.
#CONFIG_UNIRTOS_RAW_SOCKET_ICMP_LOSE_IP_HEAD=y  !!! Only QCX216 need config
# !!!  Only QCX216 Qualcomm's underlying lwip removes the IP header. can passed directly is ICMP data
CONFIG_UNIRTOS_QMTPUBEX_NOT_SUPPORT_ABSENCE_LENGTH=y
CONFIG_UNIRTOS_TCP_RETRANSCFG_FOR_QUALCOMM=y
CONFIG_UNIRTOS_QFREAD_MIN_LEN=0
CONFIG_UNIR_MAX_FTP_RX_DATA_CACHE_HIGH_LEN=10240
CONFIG_UNIR_FTP_CACHE_MAX_LEN=10240
CONFIG_UNIR_FTP_CACHE_DEFAULT_LEN=0
CONFIG_UNIRTOS_FILE_WATERMARK_LOW=1024
CONFIG_UNIRTOS_FILE_WATERMARK_HIGH=10240
CONFIG_UNIRTOS_FILE_WATERMARK_MAX_LIMIT=13312
CONFIG_UNIRTOS_FILE_TX_WATERMARK_MAX_LIMIT=13312
CONFIG_UNIRTOS_FILE_WRITE_ONCE_MAX_COUNT=5120
CONFIG_UNIRTOS_FILE_READ_ONCE_MAX_COUNT=1280
CONFIG_UNIRTOS_CAMERA_WATERMARK_LOW=1024
CONFIG_UNIRTOS_CAMERA_WATERMARK_HIGH=10240
CONFIG_UNIRTOS_CAMERA_WATERMARK_MAX_LIMIT=13312
CONFIG_UNIRTOS_CAMERA_TX_WATERMARK_MAX_LIMIT=13312
CONFIG_UNIRTOS_CAMERA_READ_ONCE_MAX_COUNT=1280
CONFIG_UNIRTOS_MQTT_DEFAULT_PUB_URC_MAX=10240
CONFIG_UNIRTOS_MQTT_MAX_PUBLISH_MSG_LEN=20480
CONFIG_UNIRTOS_QHTTPCFG_OPTION_VIEW_TYPE=y
# CONFIG_UNIRTOS_QFOTADL_USE_FLASH_PARTITION is not set
CONFIG_UNIRTOS_QFOTADL_USE_FILE_ROOT_SYSTEM=y
CONFIG_UNIRTOS_SSL_MFL_DEFAULT_SUPPORT=0
CONFIG_UNIRTOS_SSL_MFL_SIZE_DEFAULT=4
CONFIG_UNIRTOS_QHTTPCFG_CUSTOM_HEADER_VIEW_TYPE=y
# CONFIG_UNIRTOS_TCPIP_LISTENER_CLOSED_WITH_CLIENT is not set
# CONFIG_UNIRTOS_TCPIP_LISTENER_INCOMING_REPORT_BEFORE_CONNECT is not set
CONFIG_UNIRTOS_APPTCPIP_MAX_SOCKET_CNT_DEFAULT=12
CONFIG_UNIRTOS_TCP_INCOMING_CLIENT_MAX_NUM_DEFAULT=11
CONFIG_UNIRTOS_TCPIP_ECHO_QISEND_DATA_DEFAULT=1
CONFIG_UNIRTOS_TCPIP_PASSIVE_CLOSED_DEFAULT=0
CONFIG_UNIRTOS_QFOTADL_PROGRESS_URC_DEFAULT=0
CONFIG_UNIRTOS_EDIT_TIMEOUT_DEFAULT=120
# CONFIG_UNIRTOS_CGDCONT_REQUIRE_ENTRY is not set
# CONFIG_UNIRTOS_CGPADDR_ACTIVE_CID_ONLY is not set
CONFIG_UNIRTOS_QURCCFG_SHOW_UART2_STRING=y
# CONFIG_UNIRTOS_QURCCFG_SHOW_ALL_STRING is not set
CONFIG_UNIRTOS_FOTA_WRITE_TASK_SIZE=16384
CONFIG_UNIRTOS_FOTA_WATERMARK_LIMIT=16384
CONFIG_UNIRTOS_FOTA_WATERMARK_LOW_LIMIT=2048
CONFIG_UNIRTOS_FOTA_WATERMARK_HIGH_LIMIT=10240
CONFIG_UNIRTOS_FOTA_READ_BUFFER_SIZE=2048
# end of UniRTOS AT Standard FUNC option config
# end of UniRTOS AT Standard
# end of UniRTOS examples
