CONFIG_QOSA_MBEDTLS_LIBRARY_FUNC=n
CONFIG_QOSA_MBEDTLS_SUPPORT=n
CONFIG_QOSA_CAN_SUPPORT=n
# Activating this macro indicates the activation of the differential package signature verification function of the Ruiwei server.
CONFIG_QOSA_FOTA_SIGN_FUNC=n
CONFIG_QOSA_PPP_FUNC=n
THIRDPARTY_MBEDTLS_ENABLE=n