#ESIM
CONFIG_QCM_ESIM_FUNC=y
CONFIG_QAPP_UNIRTOS_AT_QESIM_CMD=y
CONFIG_QCM_QURL_SMTP_FUNC=n
CONFIG_QCM_QURL_FTP_FUNC=n
CONFIG_QCM_LWM2M_FUNC=n
CONFIG_QCM_MQTT_FUNC=n
CONFIG_QCM_MQTT5_FUNC=n
CONFIG_QAPP_UNIRTOS_MQTT_AT_FUNC=n
CONFIG_QAPP_UNIRTOS_FTP_AT_FUNC=y
CONFIG_QAPP_UNIRTOS_LWM2M_AT_FUNC=n
CONFIG_QAPP_UNIRTOS_ONENET_LWM2M_AT_FUN=n
CONFIG_QAPP_UNIRTOS_AEP_LWM2M_AT_FUN=n
