
#   ====================================       其他组件        ====================================
#   ====================================   Ohter components   ====================================

#   远程升级功能支持
#   FOTA function support
QUECTEL_KERNEL_FOTA_SUPPORT                     =y

#   Updater校验相关API支持
#   Updater verification related API support
QUECTEL_KERNEL_UPDATE_CHECK_SUPPORT             =y

#   补擦功能支持
#   Support for the touch-up function.
QUECTEL_KERNEL_ERASE_OPTIMIZE_SUPPORT           =y
