
# BBN not supported PPP
CONFIG_QOSA_PPP_FUNC=n
CONFIG_QAPP_UNIRTOS_PPP_AT_FUNC=n
CONFIG_QOSA_QURL_FTP_FUNC=n
CONFIG_QAPP_UNIRTOS_FTP_AT_FUNC=n
CONFIG_QAPP_UNIRTOS_FTP_FOTA_AT_FUNC=n
CONFIG_QOSA_QURL_SMTP_FUNC=n
CONFIG_QCM_QURL_FTP_FUNC=n
CONFIG_QCM_QURL_SMTP_FUNC=n
CONFIG_QAPP_UNIRTOS_SMTP_AT_FUNC=n
CONFIG_QOSA_CAMERA_FUNC=n
CONFIG_QOSA_LCD_FUNC=n
CONFIG_QAPP_UNIRTOS_CAMERA_AT_FUNC=n
CONFIG_QAPP_UNIRTOS_WEBSOCKET_AT_FUNC=n
CONFIG_QCM_WEBSOCKET_FUNC=n
CONFIG_QAPP_UNIRTOS_DMHTTP_AT_FUNC=n
CONFIG_QCM_DMHTTP_FUNC=n
CONFIG_QAPP_UNIRTOS_MMS_AT_FUNC=n
CONFIG_QCM_MMS_FUNC=n
CONFIG_QCM_LWM2M_FUNC=n
CONFIG_QCM_LWM2M_FOTA_FUNC=n
CONFIG_QCM_LWM2M_MBEDTLS_FUNC=n
CONFIG_QAPP_UNIRTOS_LWM2M_AT_FUNC=n
CONFIG_QAPP_UNIRTOS_ONENET_LWM2M_AT_FUN=n
CONFIG_QAPP_UNIRTOS_AEP_LWM2M_AT_FUN=n
CONFIG_QCM_COAP_FUNC=n
CONFIG_QCM_COAP_API_FUNC=n
CONFIG_QAPP_UNIRTOS_COAP_AT_FUNC=n
CONFIG_QCM_LBS_FUNC=n
CONFIG_QAPP_UNIRTOS_LBS_AT_FUNC=n
CONFIG_QCM_AUDIO_MP3_FUNC=n
CONFIG_QCM_AUDIO_AMR_FUNC=n
CONFIG_QCM_MQTT_FUNC=n
CONFIG_QAPP_UNIRTOS_MQTT_AT_FUNC=n
CONFIG_QOSA_TTS_SUPPORT=y
CONFIG_QOSA_LED_FUNC=n
CONFIG_QAPP_UNIRTOS_LED_AT_FUNC=n

