#DM
CONFIG_QAPP_UNIRTOS_DMHTTP_AT_FUNC=y
CONFIG_QCM_DMHTTP_FUNC=y

CONFIG_QAPP_UNIRTOS_SMTP_AT_FUNC=n
CONFIG_QCM_QURL_SMTP_FUNC=n

CONFIG_QAPP_UNIRTOS_AEP_LWM2M_AT_FUN=n
CONFIG_QAPP_UNIRTOS_ONENET_LWM2M_AT_FUN=n

CONFIG_QOSA_AUDIO_DRIVER=n
CONFIG_QCM_AUDIO_STREAM_FUNC=n
CONFIG_QCM_AUDIO_MP3_FUNC=n
CONFIG_QCM_AUDIO_AMR_FUNC=n
CONFIG_QAPP_UNIRTOS_AT_QAUDIO_CMD=n