#ESIM
CONFIG_QCM_ESIM_FUNC=y
CONFIG_QAPP_UNIRTOS_AT_QESIM_CMD=y
CONFIG_QAPP_UNIRTOS_CAMERA_AT_FUNC=n
CONFIG_QOSA_CAMERA_FUNC=n
CONFIG_QCM_AUDIO_MP3_FUNC=n
CONFIG_QCM_AUDIO_AMR_FUNC=n

CONFIG_QCM_LBS_TASK_SIZE=5120
CONFIG_QCM_MQTT_TASK_STACK_SIZE=5120
CONFIG_QUECOS_FTP_TASK_STACK_SIZE=5120
CONFIG_QUECOS_HTTP_TASK_STACK_SIZE=5120

CONFIG_QOSA_MBEDTLS_ECDHE_ECDSA_SUPPORT=y
CONFIG_QOSA_MBEDTLS_SHA384_SUPPORT=y
