# NB AT Standard
CONFIG_QAPP_UNIRTOS_NB_AT_FUNC=y

# NB Platform
CONFIG_QOSA_NBIOT_CUST_FUNC=y

# UART AT Standard
CONFIG_QAPP_UNIRTOS_AT_NATSPEED_CMD=y

# PLATFORM AT Standard
CONFIG_QAPP_UNIRTOS_AT_QCHIPINFO_CMD=y

# NETWORK AT Standard
CONFIG_QOSA_NW_NB_SUPPORT=n
CONFIG_QOSA_NW_BJU_SUPPORT=y

# NB Version Coverage Value
CONFIG_QOSA_DATACALL_PDPID_MAX=10

# NB AT Standard
CONFIG_QAPP_UNIRTOS_TCPIP_NB_AT_FUNC=y

# NB not supported audio
CONFIG_QOSA_AUDIO_DRIVER=n
CONFIG_QCM_AUDIO_STREAM_FUNC=n
CONFIG_QCM_AUDIO_MP3_FUNC=n
CONFIG_QCM_AUDIO_AMR_FUNC=n
CONFIG_QAPP_UNIRTOS_AT_QAUDIO_CMD=n

CONFIG_QAPP_UNIRTOS_WEBSOCKET_AT_FUNC=n
CONFIG_QCM_WEBSOCKET_FUNC=n
CONFIG_QAPP_UNIRTOS_DMHTTP_AT_FUNC=n
CONFIG_QCM_DMHTTP_FUNC=n
CONFIG_QAPP_UNIRTOS_MMS_AT_FUNC=n
CONFIG_QCM_MMS_FUNC=n

# LTE AT CAMERA support
CONFIG_QOSA_CAMERA_SUPPORT=y
CONFIG_QOSA_CAMERA_FUNC=y

# NB AT CGCONTRDP
BUILD_PS_EPS_CGCONTRDP_ENABLE = y

# NB AEP report updater URC number
CONFIG_QOSA_FOTA_UPDATE_URC_MAX=0

# Enable lwm2m object4 Connectivity Monitoring
CONFIG_QOSA_LWM2M_OBJECT_4=y

# disable QLW lwm2m AT
CONFIG_QAPP_UNIRTOS_LWM2M_AT_FUNC=n
