
# 此文件只会在 at_command 组件中生效， 也就是只要是OPEN或者标准都要引用这个配置文件



#   ====================================     基础组件      ====================================
#    ——该部分组件可能被其他Kernel组件所依赖，非必要不可关闭
#
#    ==================================== Basic Components ====================================
#    - This section components may be depended on by other Kernel components, do not close if not necessary.



#   Quectel对EIGEN CP协议栈相关未封装REQ API的上层封装
#   Quectel's upper-layer encapsulation of EIGEN CP protocol stack-related unencapsulated REQ API


QUECTEL_KERNEL_CORE_REQ_SUPPORT       =y

#   Quectel上层工厂参数获取/设置相关函数封装（IMEI/SN等）
#   Quectel upper-level factory parameter acquisition/setting related function encapsulation (IMEI/SN, etc.)
QUECTEL_KERNEL_FACTORY_API_SUPPORT  =y

#   ====================================       外设组件        ====================================
#   ==================================== Peripheral components ====================================




#   Quectel上层封装UART API支持
#   Quectel upper layer encapsulation UART API support
QUECTEL_KERNEL_UART_API_SUPPORT     =y

#   Quectel上层封装USB API支持
#   Quectel upper layer encapsulation USB API support
QUECTEL_KERNEL_USB_API_SUPPORT      =y

#   ====================================       网络组件        ====================================
#   ====================================   Network components   ====================================

#   数据拨号相关API支持
#   Datacall API support
# UNIRTOS 需要
QUECTEL_KERNEL_DATACALL_SUPPORT             =y

#   网络相关API支持
#   Network API support
# UNIRTOS 需要
QUECTEL_KERNEL_NETWORK_SUPPORT              =y

#   xlat相关API支持
#   xlat API support
# UNIRTOS 需要
QUECTEL_KERNEL_XLAT_SUPPORT                 =y

#   ====================================       其他组件        ====================================
#   ====================================   Ohter components   ====================================

#   短信功能支持
#   Support for SMS function.
# UNIRTOS 需要
QUECTEL_KERNEL_SMS_SUPPORT                      =y

#   Quectel上层封装LFS API支持
#   Quectel upper layer encapsulation LFS API support
QUECTEL_KERNEL_LFS_API_SUPPORT      =y

#   Updater校验相关API支持
#   Updater verification related API support
QUECTEL_KERNEL_UPDATE_CHECK_SUPPORT             =y

#   补擦功能支持
#   Support for the touch-up function.
QUECTEL_KERNEL_ERASE_OPTIMIZE_SUPPORT           =y

#   Wakeup引脚消抖功能支持
#   Wakeup pin debounce function support
QUECTEL_KERNEL_WAKEPAD_DEBOUNCE_API_SUPPORT     =y

#   NVM存储功能支持
#   NVM storage function support
# UniRTOS需要
QUECTEL_KERNEL_NV_SUPPORT                       =y

#   远程升级功能支持
#   FOTA function support
QUECTEL_KERNEL_FOTA_SUPPORT                     =y


#   此Makefile用于控制ql_app文件夹内的相关功能开关  \
#   This Makefile is used to control the relevant function switches in the ql_app folder.




#   USIM热插拔功能支持
#   USIM hot swap function supported
QUECTEL_APP_USIM_HOTPLUG_SUPPORT       =y






#   此Makefile用于控制ql_atcop文件夹内的相关功能开关  \
#   This Makefile is used to control the relevant function switches in the ql_atcop folder.

#   Quectel AT 列表支持
#   Quectel AT command list support
QUECTEL_ATCOP_AT_SUPPORT       =y

#   Quectel数据流处理层支持
#   Quectel data stream processing layer support
QUECTEL_ATCOP_SIO_SUPPORT       =y

